.block-views-blockrecent-work-block-1 {
  padding-bottom: 1.5rem;
}

.block-views-blockrecent-work-block-1 .views-field-title {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.block-views-blockrecent-work-block-1 .views-field-title .field-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #292b2c;
}

.block-views-blockrecent-work-block-1 .views-field-title .field-content:hover {
  opacity: 0.8;
}

.block-views-blockrecent-work-block-1 .views-field-title a {
  color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration: none;
}

.block-views-blockrecent-work-block-1 .views-col {
  margin: 0;
  padding: 0;
}

.block-views-blockrecent-work-block-1 .views-row {
  margin-right: 0;
  margin-left: 0;
}

.block-views-blockrecent-work-block-1 .views-field-field-redacto-screenshot {
  width: 100%;
}

.block-views-blockrecent-work-block-1 .views-field-field-redacto-screenshot .field-content {
  width: 100%;
  height: 100%;
}

.block-views-blockrecent-work-block-1 .views-field-field-redacto-screenshot img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paragraph--type--container .block-views-blockrecent-work-block-1 .block__title {
  margin-top: 0;
}
