.paragraphs-behavior-style--button {
  text-align: left;
}

.paragraphs-behavior-style--standard .card {
  background-color: #bbb;
}

.paragraphs-behavior-style--standard .card {
  color: #fff;
}

.paragraphs-behavior-style--standard .card a {
  color: #fff;
}

.paragraphs-behavior-style--standard .card a:hover {
  color: #fff;
}
