.paragraph {
  padding-bottom: 2.5rem;
}

.paragraph--type--card {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paragraph--type--card a:focus, .paragraph--type--card a:hover {
  text-decoration: none;
}

.paragraph--type--card .card-img-top {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.paragraph--type--card .card-block h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.paragraph--type--reference .card a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #292b2c;
}

.paragraph--type--reference .card a .card__footer span {
  color: #0275d8;
}

.paragraph--type--reference .card a:focus, .paragraph--type--reference .card a:hover {
  text-decoration: none;
}

.paragraph--type--reference .card a:focus .card__footer span, .paragraph--type--reference .card a:hover .card__footer span {
  color: #014c8c;
  text-decoration: underline;
}

.paragraph--type--reference.paragraphs-behavior-style--standard a .card__footer span, .paragraph--type--reference.paragraphs-behavior-style--standard a:hover .card__footer span, .paragraph--type--reference.paragraphs-behavior-style--standard a:focus .card__footer span {
  color: #fff;
}

.paragraph--type--separator {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0;
}

.container .paragraph--type--separator {
  padding-bottom: 2.5rem;
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--separator hr {
  border: 0;
  border-top: solid 2px #eceeef;
}

.paragraph--type--container {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 2.5rem;
}

.container .paragraph--type--container {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.paragraph--type--container .paragraph {
  padding-bottom: 0;
}

.paragraph--type--redacto-container {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 2.5rem;
  min-height: 400px;
}

.container .paragraph--type--redacto-container {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.paragraph--type--redacto-container .paragraphs-behavior-background--element {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
}

.paragraph--type--redacto-container .paragraph {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.paragraph--type--redacto-container .views-view-grid .views-row {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -8px;
}

.paragraph--type--redacto-container .paragraph--type--button {
  text-align: center;
}

.paragraph--type--redacto-container .paragraph--type--title h2 {
  font-size: 2.375rem;
  font-weight: 700;
}

.paragraph--type--redacto-container .paragraph--type--separator hr {
  border-color: #ccc;
}

.paragraph--type--redacto-container .btn.views-col {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin: 0 0.5rem;
  max-width: none !important;
  -webkit-flex: inherit !important;
      -ms-flex: inherit !important;
          flex: inherit !important;
}

.paragraph--type--redacto-container .btn.views-col a {
  color: inherit;
}

.paragraph--type--redacto-container .btn.views-col a:hover, .paragraph--type--redacto-container .btn.views-col a:focus, .paragraph--type--redacto-container .btn.views-col a:active {
  text-decoration: none;
}

.paragraph--type--grid {
  padding-bottom: 0;
}

.paragraph--type--button {
  padding-bottom: 0;
}

.paragraph--type--pcb-carousel {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0;
  display: none;
}

.container .paragraph--type--pcb-carousel {
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--pcb-carousel .paragraph {
  padding-bottom: 0;
}

.paragraph--type--pcb-carousel .paragraph--type--image img {
  margin-bottom: 0;
}

.paragraph--type--pcb-carousel-item {
  width: 100%;
}

.paragraph--type--geolocation {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0;
}

.container .paragraph--type--geolocation {
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--image {
  margin-right: -15px;
  margin-left: -15px;
}

.container .paragraph--type--image {
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--image img {
  margin-bottom: 1em;
}

.container .paragraph--type--title {
  padding-bottom: 0;
}

.paragraph--type--title h2 {
  margin-top: 0;
}

.container .paragraph--type--subtitle {
  padding-bottom: 0;
}

.paragraph--type--redacto-price-list .list-group-item p:last-of-type {
  margin-bottom: 0;
}

.paragraph--type--redacto-hero-image {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0;
}

.container .paragraph--type--redacto-hero-image {
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--redacto-hero-image .hero-image-content {
  position: relative;
  padding: 15rem 15px 5rem;
  color: #fff;
}

.container .paragraph--type--redacto-hero-image .hero-image-content {
  padding-left: 5rem;
  padding-right: 5rem;
}

.paragraph--type--redacto-hero-image .hero-image-content p:last-of-type {
  margin-bottom: 0;
}

.paragraph--type--redacto-hero-image .hero-image-content .paragraphs-behavior-background--element {
  background: rgba(0, 0, 0, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.6rem;
}

.paragraph--type--redacto-hero-image .hero-image-content .paragraphs-behavior-background--element h1 {
  margin: 0;
}

.paragraph--type--redacto-hero-image .hero-image-content .paragraphs-behavior-background--element:first-child {
  margin-bottom: 1rem;
}

.paragraph--type--redacto-hero-image .hero-image-background img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paragraph--type--redacto-short-info {
  text-align: center;
}

.paragraph--type--redacto-short-info h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {

  .paragraph--type--pcb-carousel {
    display: block;
  }
}
