{% extends "@bs_bootstrap/layout/page.html.twig" %}
{#
/**
 * @file
 * Base page template.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% block header %}
  {{ attach_library('redacto_base_theme/font-awesome') }}
  <header role="banner" class="navbar page__header">
    <div class="navbar__inner container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row">
        {{ page.brand }}
        {{ page.navbar }}
        {{ page.header_right }}
      </div>
    </div>
  </header>
{% endblock %}
{% block main %}
  <main role="main" class="page__main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="page__content content container-fluid {{ page.content_sidebar ? 'page__content--with-sidebar' }}">
      {% block content %}
        {% block content_header %}
          <div class="container">
            {{ page.content_header }}
          </div>
        {% endblock %}
        {% if page.content_sidebar %}
          <div class="row">
            <div class="page__content-col">
              {{ page.content }}
              {{ page.content_footer }}
            </div>
            {{ page.content_sidebar }}
          </div>
        {% else %}
          <div class="hero-wrapper">
            <div class="hero-image">
              <img src="{{ base_path ~ directory }}/images/background-gray.png">
            </div>
            <div class="hero-container container">
              <h2>{{ page['#title'] }}</h2>
              <div class="hero-categories">
                {{ block_lead_tags }}
              </div>
            </div>
          </div>
          <div class="container">
            {{ page.content }}
          </div>
          {% block content_footer %}
            {{ parent() }}
          {% endblock %}
        {% endif %}
      {% endblock %}
    </div>
  </main>
{% endblock %}
