{% extends "@bs_base/layout/region.html.twig" %}
{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% block region %}
  {% set attributes = attributes.addClass('container') %}
  {{ parent() }}
{% endblock %}
