@import "init";
@import "redacto_base_theme/sass/components/block-thumbnail";

.block-views-blockrecent-work-block-1 {
  .views {
    &-field-title {
      .field-content {
        @include dark-hatching;
      }
    }
  }
}
