@import "init";
@import "redacto_base_theme/sass/components/buttons";

.btn {
  &:focus,
  &:active {
    outline: none !important;
  }

  &-primary {
    @include dark-hatching;

    border-color: $black;

    &[disabled],
    &.disabled,
    &:disabled {
      border-color: $black;
      background-color: lighten(#7a7a7a, 5%) !important;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      @include dark-hatching;

      border-color: $black;
      background-color: darken(#7a7a7a, 5%) !important;
    }
  }

  &-outline-primary {
    border-color: $black;
    color: black;

    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: $black;
      background-color: darken(#7a7a7a, 5%) !important;

      @include dark-hatching;
    }
  }

  &-secondary {
    @include light-hatching;

    border-color: $silver;

    &[disabled],
    &.disabled,
    &:disabled {
      border-color: $silver;
      background-color: lighten(#f9f9f9, 2%);
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      @include light-hatching;

      border-color: $silver;
      background-color: darken(#f9f9f9, 2%);
    }
  }

  &-outline-secondary {
    border-color: $silver;
    color: $silver;

    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: $silver;
      background-color: darken(#f9f9f9, 2%);

      @include light-hatching;
    }
  }
}
