@import "init";
@import "redacto_base_theme/sass/components/list-group";

.list-group-item {
  &:hover {
    @include light-hatching;
  }

  &.active {
    &,
    &:hover {
      @include dark-hatching;

      border: 1px solid $mine;
    }
  }
}
