@import "init";
@import "redacto_base_theme/sass/components/messages";

.alert {
  &-success {
    @include light-hatching;

    border-color: $dust;
  }

  &-info {
    @include dark-hatching;

    border-color: $black;
  }
}
