@import "init";
@import "redacto_base_theme/sass/components/navigation";

.navbar {
  &-light {
    @include light-hatching;

    background-color: lighten(#f9f9f9, 2%) !important;

    .navbar-nav {
      > .active {
        > .nav-link {
          &,
          &:focus,
          &:hover {
            @include light-hatching;

            background-color: #e7e7e7;
            color: #555;
          }
        }
      }
    }

    .dropdown.show {
      @include light-hatching;

      background-color: #e7e7e7;
      color: #555;
    }
  }
}
