@import "init";
@import "redacto_base_theme/sass/components/pagination";

.pagination {
  > li {
    > a,
    > span {
      color: $mine;

      &:hover,
      &:focus {
        @include light-hatching;
      }
    }
  }

  > .active {
    > a,
    > span {
      &,
      &:focus,
      &:hover {
        @include dark-hatching;

        border: 1px solid $mine !important;
        background-color: #7a7a7a !important;
      }
    }
  }

  > .disabled {
    > a,
    > span {
      background: transparent !important;
      color: lighten($silver, 10%) !important;
    }
  }
}
