@import "init";
@import "redacto_base_theme/sass/components/social-icons";

.block-simple-blockheader-social-icons {
  display: none;

  i.fa {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .page__footer__copyright & {
    i.fa {
      margin-top: 0.425em;
      margin-bottom: 0.425em;
    }
  }
}
