@import "init";
@import "redacto_base_theme/sass/components/social-share";

.shariff {
  &-button {
    a {
      color: #666 !important;

      @include light-hatching;

      &:hover,
      &:focus,
      &:active,
      &.active {
        @include light-hatching;

        border-color: $silver;
        background-color: darken(#f9f9f9, 2%) !important;
      }
    }
  }
}
