@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.views__item {
  margin-bottom: 30px;
}

.views-view-grid .views-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.views-view-grid .views-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.views__content article h2 {
  margin-top: 0;
}

.views__content article img {
  margin-bottom: 1rem;
}

@media (min-width: 576px){
  .views-view-grid .views-row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .views-view-grid .views-col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .views-view-grid.cols-4 .views-col{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-5 .views-col{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-6 .views-col{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px){
  .views-view-grid .views-row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .views-view-grid .views-col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .views-view-grid.cols-2 .views-col{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-3 .views-col{
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .views-view-grid.cols-4 .views-col{
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .views-view-grid.cols-5 .views-col{
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .views-view-grid.cols-6 .views-col{
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 992px){
  .views-view-grid .views-row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .views-view-grid .views-col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .views-view-grid.cols-5 .views-col{
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1200px){
  .views-view-grid .views-row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .views-view-grid .views-col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .views-view-grid.cols-6 .views-col{
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}
