@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.embedded-entity.align-left {
  margin-right: 1rem;
}

.embedded-entity.align-center {
  text-align: center;
}

.embedded-entity.align-right {
  margin-left: 1rem;
}
