@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.vertical-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.vertical-tabs__menu {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: -1px;
}

.vertical-tabs__menu-item-summary {
  font-size: 0.875rem;
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5em 1em;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.nav-link.disabled {
  color: #636c72;
  cursor: not-allowed;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #eceeef #eceeef #ddd;
}

.nav-tabs .nav-link.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
  color: #fff;
  cursor: default;
  background-color: #0275d8;
}

.nav-fill .nav-item {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-tabs {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar {
  background-color: #eceeef;
}

.navbar .row {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__inner {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar__inner .row {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-full {
  z-index: 1000;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030;
  width: 100%;
}

.navbar-toggler {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.25rem 0.75rem;
  position: absolute;
  right: 1rem;
  z-index: 1;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}

.navbar-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar-nav li:not(:last-child) {
  margin-right: 0.5rem;
}

.navbar-nav .nav-link {
  display: block;
  color: #0275d8;
  position: relative;
}

.navbar-nav .nav-link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:focus:after, .navbar-nav .nav-link:hover:after {
  height: 3px;
  opacity: 1;
  background-color: #0275d8;
}

.navbar-nav .nav-link.is-active:after {
  height: 3px;
  opacity: 1;
  background-color: #0275d8;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
  color: #0267bf;
}

.navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link .open > .nav-link,
.navbar-nav .nav-link .active > .nav-link, .navbar-nav .nav-link.open, .navbar-nav .nav-link.active {
  color: #0267bf;
}

.navbar-brand a {
  color: #0275d8;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand a:focus, .navbar-brand a:hover {
  color: #0267bf;
  text-decoration: none;
}

.navbar-toggler {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: #0267bf;
  font-size: 1.25rem;
  line-height: 1;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  color: #0267bf;
  text-decoration: none;
}

.navbar-toggler-icon {
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
}

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1.5rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand a {
  font-size: 2rem;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:active {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: #299bfd;
}

.nav-tabs {
  margin-bottom: 1em;
}

.navbar-light {
  background-color: #fefefe;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALevXv3nxFdHCQoJCTEiCIBEwQphksgC8Il0AXBEtgEQRIA6zMX0LikUbQAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #666;
  background-color: #fefefe !important;
}

.navbar-light .navbar-nav > .active > .nav-link, .navbar-light .navbar-nav > .active > .nav-link:focus, .navbar-light .navbar-nav > .active > .nav-link:hover {
  background-color: #fefefe;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALevXv3nxFdHCQoJCTEiCIBEwQphksgC8Il0AXBEtgEQRIA6zMX0LikUbQAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #666;
  background-color: #e7e7e7;
  color: #555;
}

.navbar-light .dropdown.show {
  background-color: #fefefe;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALevXv3nxFdHCQoJCTEiCIBEwQphksgC8Il0AXBEtgEQRIA6zMX0LikUbQAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #666;
  background-color: #e7e7e7;
  color: #555;
}

@media (min-width: 768px){
  .navbar__inner .row{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar-collapse{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-collapse .navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-collapse .navbar-nav .nav-link{
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-collapse .navbar-toggler{
    display: none;
  }
  .navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (max-width: 991px){
  .nav .dropdown-menu{
    position: static;
    float: none;
  }
}
