@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.node-preview-container {
  background-color: #fafafb;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
}

.node-preview-container .form-select {
  display: inline-block;
  width: auto;
}

.node-preview-container .form-item {
  margin-bottom: 0;
}

body:not(.toolbar-fixed) .node-preview-container {
  top: 0;
}

.node-preview-container ~ .page__header {
  margin-top: 3.5rem;
}

.node-preview-backlink {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 1rem;
}

.page-node-type-redacto-article article img {
  margin-bottom: 1rem;
}

.page-node-type-redacto-article .article-hero-wrapper {
  position: relative;
  max-height: 480px;
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
}

.page-node-type-redacto-article .article-hero-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-node-type-redacto-article .article-hero-content .btn a {
  text-decoration: none;
  color: inherit;
}

.page-node-type-redacto-article .article-hero-content h2 {
  font-size: 2.375rem;
  font-weight: 700;
}

.page-node-type-redacto-article .page__main {
  position: relative;
}

.page-node-type-redacto-article .page__content {
  position: static;
}

.taxonomy-page .paragraph--type--title h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-weight: 700;
}

.taxonomy-page .paragraph--type--redacto-container .paragraph--type--title h2 {
  padding-bottom: 0;
  border-bottom: none;
}

.taxonomy-page .paragraph--type--title h2 {
  font-size: 2.375rem;
}

@media (min-width: 768px){
  .page-node-type-redacto-article .article-image{
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}
