@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.js-form-type-search input.form-search {
  width: 110px;
  background: transparent;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.5);
}

.js-form-type-search input.form-search::-webkit-input-placeholder {
  color: #ccc;
}

.js-form-type-search input.form-search:-ms-input-placeholder {
  color: #ccc;
}

.js-form-type-search input.form-search::placeholder {
  color: #ccc;
}

.search-block-form {
  margin-left: 1em;
}

.search-block-form .form-type-search {
  margin-bottom: 0;
}

.search-block-form input.form-search {
  float: right;
  padding-right: 40px;
  padding-left: 12px;
}

.search-block-form form#search-block-form {
  float: right;
  width: auto;
}

.search-block-form .icon {
  right: 6px;
  left: auto !important;
}

#search-form input.form-search {
  float: none;
}

#search-form .icon {
  top: 25px;
}
