@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.shariff ul {
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  position: relative;
  min-width: initial !important;
  vertical-align: middle;
  width: auto;
  -webkit-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  max-width: inherit;
}

.shariff ul.orientation-horizontal li {
  max-width: initial !important;
}

.shariff ul.orientation-horizontal li:first-child {
  margin-left: 0;
}

.shariff ul.orientation-horizontal li:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shariff ul.orientation-horizontal li:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.shariff ul.orientation-horizontal li:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.shariff ul.orientation-horizontal li .share_text {
  display: inline;
  text-indent: 0;
}

.shariff ul.orientation-vertical {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shariff ul.orientation-vertical .shariff-button + .shariff ul.orientation-vertical .shariff-button,
.shariff ul.orientation-vertical .shariff-button + .shariff {
  margin-top: -1px !important;
}

.shariff ul.orientation-vertical .shariff-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.shariff ul.orientation-vertical .shariff-button:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.shariff ul.orientation-vertical .shariff-button:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.shariff ul.orientation-vertical .shariff-button {
  margin-top: -1px !important;
  margin-left: -1px !important;
}

.shariff-button {
  display: inline-block;
  position: relative;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 110px !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.shariff-button a {
  height: auto !important;
  padding: 0 15px 0 10px;
}

.shariff-button + .shariff-button,
.shariff-button + .shariff {
  margin-left: -1px !important;
}

.shariff + .shariff-button,
.shariff + .shariff {
  margin-left: -1px !important;
}

.shariff-button a {
  color: #666 !important;
  background-color: #fefefe;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALevXv3nxFdHCQoJCTEiCIBEwQphksgC8Il0AXBEtgEQRIA6zMX0LikUbQAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #666;
}

.shariff-button a:hover, .shariff-button a:focus, .shariff-button a:active, .shariff-button a.active {
  background-color: #fefefe;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALevXv3nxFdHCQoJCTEiCIBEwQphksgC8Il0AXBEtgEQRIA6zMX0LikUbQAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #666;
  border-color: #999;
  background-color: #f4f4f4 !important;
}
