@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.block-simple-blockheader-social-icons {
  display: none;
}

.block-simple-blockheader-social-icons i.fa {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 6px;
  margin-top: 0.425em;
  margin-bottom: 0.425em;
}

.block-simple-blockheader-social-icons i.fa:hover {
  color: rgba(0, 0, 0, 0.7);
}

.page__footer__copyright .block-simple-blockheader-social-icons {
  margin-bottom: 0;
  display: block;
}

.page__footer__copyright .block-simple-blockheader-social-icons i.fa {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.block-simple-blockheader-social-icons {
  display: none;
}

.block-simple-blockheader-social-icons i.fa {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page__footer__copyright .block-simple-blockheader-social-icons i.fa {
  margin-top: 0.425em;
  margin-bottom: 0.425em;
}

@media (min-width: 768px){
  .block-simple-blockheader-social-icons{
    display: block;
  }
}
