h1,
.h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
}

h2,
.h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 2.25rem;
}

h3,
.h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 2.25rem;
}

h4,
.h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h5,
.h5 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h6,
.h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

blockquote {
  padding: 0.75rem 1.563rem;
  border-left: 5px solid #eceeef;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}
