@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

tr.collapse.show {
  display: table-row;
}

tbody.collapse.show {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
