{% extends "@paragraphs/paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for a paragraph content.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="list-group">
        {% if content.field_redacto_price_list_title.0 %}
          <button type="button" class="list-group-item active">{{ content.field_redacto_price_list_title }}</button>
        {% endif %}
        {% if content.field_redacto_description.0 %}
          <button type="button" class="list-group-item list-group-item-action">{{ content.field_redacto_description }}</button>
        {% endif %}
        {% for key,value in content.field_redacto_list_item if key|first != '#' %}
          <button type="button" class="list-group-item list-group-item-action">{{ content.field_redacto_list_item[key] }}</button>
        {% endfor %}
        {% if content.field_redacto_price.0 %}
          <button type="button" class="list-group-item list-group-item-action">{{ content.field_redacto_price }}</button>
        {% endif %}
        {% if content.field_redacto_button.0 %}
          <button type="button" class="list-group-item list-group-item-action">{{ content.field_redacto_button }}</button>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
