// RedACTO Sketch theme variables.

//=============================================================================
// COLORS
//=============================================================================

$black:                              #000;
$mine:                               #666;
$silver:                             #999;
$dust:                               #f0f0f0;
$white:                              #fff;

//=============================================================================
// FONTS
//=============================================================================

//Import Cabin Sketch font
@import url(//fonts.googleapis.com/css?family=Cabin+Sketch:400,700);

$defaultFont:                        "Cabin Sketch", cursive !default;
$font-family-base:                   $defaultFont;
