@import "init";

.page__footer {
  font-size: 1rem;

  .block__title{
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .region {
    &-footer-copyright {
      text-align: center;

      p {
        margin-bottom: 0;
      }
    }
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      border-bottom: solid 1px #ccc;
      padding: 1em 0;

      &:first-child {
        padding-top: 0;
      }

      &:before {
        content: '\f101';
        font-family: FontAwesome;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
