@import "init";

.page__main {
  margin-top: 0;
  margin-bottom: 0;

  .hero-wrapper {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 2.5rem;
  }

  .hero-image {
    height: 480px;
    overflow: hidden;
  }

  .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    h2 {
      font-size: 2.375rem;
      font-weight: 700;
    }
  }

  .hero-categories {
    .views-col {
      display: inline-flex;
      width: auto;
      margin: 0 0.5rem;
      max-width: none !important;
      flex: inherit !important;
    }

    .views-row {
      margin-left: -8px;
    }

    a {
      color: inherit;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
