@import "init";

@mixin make-col-full() {
  flex: 0 0 100%;
}

.redacto-grid-layout-row {
  @include make-row;

  &.no-gutter {
    margin-right: 0;
    margin-left: 0;

    > [class^="redacto-grid-layout-col"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // Equal cols modifier.
  &.equal-cols {
    @include media-breakpoint-up("sm") {
      flex-wrap: nowrap;
    }

    .redacto-grid-layout-col {
      flex: 0 0 100%;
      max-width: 100%;

      @include media-breakpoint-up("sm") {
        flex: 1 1 auto;
      }
    }
  }

  [class^="redacto-grid-layout-col"] {
    padding-bottom: 2.5 * $spacer-y;

    &:last-child {
      padding-bottom: 0;
    }

    @include media-breakpoint-up("md") {
      padding-bottom: 0;
    }
  }
}

// General column rules.
@at-root [class^="redacto-grid-layout-col"] {
  @include make-col-ready;
}

.redacto-grid-layout-col {
  &-1-2 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(6);
    }
  }

  &-1-4 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(6);
    }

    @include media-breakpoint-up("md") {
      @include make-col(3);
    }
  }

  &-3-4 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(9);
    }
  }

  &-1-3 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(4);
    }
  }

  &-2-3 {
    @include make-col-full;

    @include media-breakpoint-up("sm") {
      @include make-col(8);
    }
  }
}
