@import "init";
@import "redacto_base_theme/sass/base/elements";

.table {
  &-striped > tbody > tr:nth-child(odd) {
    > td,
    > th {
      @include light-hatching();
    }
  }

  > caption+thead > tr:first-child {
    > td,
    > th {
      border-top: 0;
    }
  }

  > colgroup+thead > tr:first-child {
    > td,
    > th {
      border-top: 0;
    }
  }

  > thead:first-child > tr:first-child {
    > td,
    > th {
      border-top: 0;
    }
  }
}
