.redacto-grid-layout-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.redacto-grid-layout-row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.redacto-grid-layout-row.no-gutter > [class^="redacto-grid-layout-col"] {
  padding-right: 0;
  padding-left: 0;
}

.redacto-grid-layout-row.equal-cols .redacto-grid-layout-col {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.redacto-grid-layout-row [class^="redacto-grid-layout-col"] {
  padding-bottom: 2.5rem;
}

.redacto-grid-layout-row [class^="redacto-grid-layout-col"]:last-child {
  padding-bottom: 0;
}

[class^="redacto-grid-layout-col"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.redacto-grid-layout-col-1-2 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.redacto-grid-layout-col-1-4 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.redacto-grid-layout-col-3-4 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.redacto-grid-layout-col-1-3 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.redacto-grid-layout-col-2-3 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {

  .redacto-grid-layout-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .redacto-grid-layout-row.equal-cols {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .redacto-grid-layout-row.equal-cols .redacto-grid-layout-col {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  [class^="redacto-grid-layout-col"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .redacto-grid-layout-col-1-2 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .redacto-grid-layout-col-1-4 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .redacto-grid-layout-col-3-4 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .redacto-grid-layout-col-1-3 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .redacto-grid-layout-col-2-3 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 768px) {

  .redacto-grid-layout-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .redacto-grid-layout-row [class^="redacto-grid-layout-col"] {
    padding-bottom: 0;
  }

  [class^="redacto-grid-layout-col"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .redacto-grid-layout-col-1-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {

  .redacto-grid-layout-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  [class^="redacto-grid-layout-col"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {

  .redacto-grid-layout-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  [class^="redacto-grid-layout-col"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}
