.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.page__header__top {
  background-color: #eceeef;
  border-bottom: 1px solid #d0d5d8;
  font-size: 0.875rem;
}

.region-top {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.region-top .block {
  padding-right: 15px;
  padding-left: 15px;
}

.page__header__top a {
  display: block;
  padding: 0.5em 0.5em 0.3em;
  color: #0275d8;
  position: relative;
}

.page__header__top a:focus, .page__header__top a:hover {
  color: #0267bf;
  text-decoration: none;
}

.page__header__top a.is-active {
  color: #0267bf;
  text-decoration: none;
}

.page__header__top a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.page__header__top a:focus:after, .page__header__top a:hover:after {
  height: 2px;
  opacity: 1;
  background-color: #0275d8;
}

.page__header__top a.is-active:after {
  height: 2px;
  opacity: 1;
  background-color: #0275d8;
}

.navbar .region {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  max-width: 70%;
}

.page__main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.page__content--with-sidebar .page__content-col,
.page__content--with-sidebar .region-content-sidebar {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.region-content-header .block {
  margin-bottom: 1rem;
}

.page__footer {
  background-color: #eceeef;
  color: #292b2c;
  font-size: 0.875rem;
}

.page__footer .block__title {
  margin-bottom: 0;
  font-size: 1.16667rem;
}

.page__footer a {
  color: #0275d8;
}

.page__footer a:focus, .page__footer a:hover {
  color: #0267bf;
}

.page__footer a.active {
  color: #0267bf;
}

.page__footer__content .region {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.page__footer__content .block {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 15px;
  padding-left: 15px;
}

.page__footer .region-footer-copyright {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.page__footer .region-footer-copyright .block {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.page__footer__copyright {
  background-color: #d0d5d8;
  color: #292b2c;
  text-align: inherit;
}

.page__footer__copyright a {
  color: #0275d8;
}

.page__footer__copyright a:focus, .page__footer__copyright a:hover {
  color: #0267bf;
}

.page__footer {
  font-size: 1rem;
}

.page__footer .block__title {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.page__footer .region-footer-copyright {
  text-align: center;
}

.page__footer .region-footer-copyright p {
  margin-bottom: 0;
}

.page__footer ul {
  padding-left: 0;
}

.page__footer ul li {
  list-style-type: none;
  border-bottom: solid 1px #ccc;
  padding: 1em 0;
}

.page__footer ul li:first-child {
  padding-top: 0;
}

.page__footer ul li:before {
  content: '\f101';
  font-family: FontAwesome;
  padding-right: 10px;
  padding-left: 10px;
}

.page__main {
  margin-top: 0;
  margin-bottom: 0;
}

.page__main .hero-wrapper {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 2.5rem;
}

.page__main .hero-image {
  height: 480px;
  overflow: hidden;
}

.page__main .hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page__main .hero-container h2 {
  font-size: 2.375rem;
  font-weight: 700;
}

.page__main .hero-categories .views-col {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin: 0 0.5rem;
  max-width: none !important;
  -webkit-flex: inherit !important;
      -ms-flex: inherit !important;
          flex: inherit !important;
}

.page__main .hero-categories .views-row {
  margin-left: -8px;
}

.page__main .hero-categories a {
  color: inherit;
}

.page__main .hero-categories a:hover, .page__main .hero-categories a:focus, .page__main .hero-categories a:active {
  text-decoration: none;
}

@media (min-width: 576px) {

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    width: 540px;
    max-width: 100%;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .navbar .region {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand {
    max-width: 100%;
  }

  .page__content--with-sidebar .page__content-col,
  .page__content--with-sidebar .region-content-sidebar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer__content .block {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer__content .block {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
  }

  .page__footer .region-footer-copyright {
    margin-right: -15px;
    margin-left: -15px;
  }

  .page__footer .region-footer-copyright .block {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    width: 720px;
    max-width: 100%;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .page__header__top .nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar .region {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__content--with-sidebar .page__content-col,
  .page__content--with-sidebar .region-content-sidebar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__content--with-sidebar .page__content-col {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .page__content--with-sidebar .region-content-sidebar {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .page__footer__content .region {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
  }

  .page__footer__content .block {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer .region-footer-copyright {
    margin-right: -15px;
    margin-left: -15px;
  }

  .page__footer .region-footer-copyright .block {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    width: 960px;
    max-width: 100%;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .navbar .region {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__content--with-sidebar .page__content-col,
  .page__content--with-sidebar .region-content-sidebar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer__content .block {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer .region-footer-copyright {
    margin-right: -15px;
    margin-left: -15px;
  }

  .page__footer .region-footer-copyright .block {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    width: 1140px;
    max-width: 100%;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .navbar .region {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__content--with-sidebar .page__content-col,
  .page__content--with-sidebar .region-content-sidebar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer__content .block {
    padding-right: 15px;
    padding-left: 15px;
  }

  .page__footer .region-footer-copyright {
    margin-right: -15px;
    margin-left: -15px;
  }

  .page__footer .region-footer-copyright .block {
    padding-right: 15px;
    padding-left: 15px;
  }
}
