@import "init";

.block-views-blockrecent-work-block-1 {
  padding-bottom: 1.5rem;

  .views {
    &-field-title {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;

      .field-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $gray-dark;

        &:hover {
          opacity: 0.8;
        }
      }

      a {
        color: white;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-decoration: none;
      }
    }

    &-col {
      margin: 0;
      padding: 0;
    }

    &-row {
      margin-right: 0;
      margin-left: 0;
    }

    &-field-field-redacto-screenshot {
      width: 100%;

      .field-content {
        width: 100%;
        height: 100%;
      }

      img {
        filter: grayscale(50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .paragraph--type--container & {
    .block__title {
      margin-top: 0;
    }
  }
}
