@import "init";

.carousel {
  &-control {
    &-next {
      background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
      background-repeat: repeat-x;
    }

    &-prev {
      background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
      background-repeat: repeat-x;
    }
  }

  &-indicators {
    li {
      box-shadow: 0 1px 2px $black;
    }
  }

  &-caption {
    text-shadow: 0 1px 2px $black;
    font-size: 2rem;
  }
}
