.card {
  &-header {
    > * {
      margin-top: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &-title {
    margin-top: 0;
  }

  &-inverse {
    background-image: none;
  }
}
