.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5em 1em;

  &-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    a {
      font-size: 2rem;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &-light {
    .navbar-nav {
      .nav-link {
        &,
        &:focus,
        &:hover,
        &.active {
          color: #299bfd;
        }
      }
    }
  }
}

.nav {
  &-tabs {
    margin-bottom: 1em;
  }
}
