.page-node-type-redacto-article {
  article img {
    margin-bottom: 1rem;
  }

  .article{
    &-hero-wrapper {
      position: relative;
      max-height: 480px;
      overflow: hidden;
      margin-right: -15px;
      margin-left: -15px;
    }

    &-hero-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      .btn a {
        text-decoration: none;
        color: inherit;
      }

      h2 {
        font-size: 2.375rem;
        font-weight: 700;
      }
    }

    &-image {
      @include media-breakpoint-up("md") {
        float: right;
        margin-bottom: $spacer-y;
        margin-left: $spacer-x;
      }
    }
  }

  .page__main {
    position: relative;
  }

  .page__content {
    position: static;
  }
}

.taxonomy-page {
  .paragraph--type--title {
    h2 {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      font-weight: 700;
    }
  }

  .paragraph--type--redacto-container {
    .paragraph--type--title {
      h2 {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
