@import "init";

// Button style modifier.
.paragraphs-behavior-style--button {
  text-align: left;
}

// Reference type card modifiers.
.card {
  .paragraphs-behavior-style--standard & {
    background-color: $standard-color-bg;
  }

  .paragraphs-behavior-style--standard & {
    color: $white;

    a {
      color: $white;

      @include hover {
        color: $white;
      }
    }
  }
}
