@import "init";

.paragraph {
  padding-bottom: 2.5 * $spacer-y;

  &--type--card {
    flex-direction: column;

    a {

      @include hover-focus {
        text-decoration: none;
      }
    }

    .card-img-top {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .card-block {
      h2 {
        margin-top: 0;
        margin-bottom: 0.75rem;
      }
    }
  }

  &--type--reference {
    .card {
      a {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        color: $body-color;

        .card__footer span {
          color: $brand-primary;
        }

        @include hover-focus {
          text-decoration: none;

          .card__footer span {
            color: $link-hover-color;
            text-decoration: underline;
          }
        }
      }
    }

    // Modifiers
    &.paragraphs-behavior-style--standard {
      a {
        &,
        &:hover,
        &:focus {
          .card__footer span {
            color: $white;
          }
        }
      }
    }
  }

  &--type--separator {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 0;

    .container & {
      padding-bottom: 2.5 * $spacer-y;
      margin-right: 0;
      margin-left: 0;
    }

    hr {
      border: 0;
      border-top: solid 2px $gray-lighter;
    }
  }

  &--type--container {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 2.5 * $spacer-y;

    .container & {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .paragraph {
      padding-bottom: 0;
    }
  }

  &--type--redacto-container {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 2.5 * $spacer-y;
    min-height: 400px;

    .container & {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .paragraphs-behavior-background--element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 400px;
    }

    .paragraph {
      padding-bottom: 0;
      margin-bottom: $spacer-y;
    }

    .views-view-grid .views-row {
      justify-content: flex-start;
      margin-left: -8px;
    }

    .paragraph--type--button {
      text-align: center;
    }

    .paragraph--type--title {
      h2 {
        font-size: 2.375rem;
        font-weight: 700;
      }
    }

    .paragraph--type--separator {
      hr {
        border-color: #ccc;
      }
    }

    .btn.views-col {
      display: inline-flex;
      width: auto;
      margin: 0 $spacer-x/2;
      max-width: none !important;
      flex: inherit !important;

      a {
        color: inherit;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
    }
  }

  &--type--grid {
    padding-bottom: 0;
  }

  &--type--button {
    padding-bottom: 0;
  }

  &--type--pcb-carousel {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 0;
    display: none;

    .container & {
      margin-right: 0;
      margin-left: 0;
    }

    .paragraph {
      padding-bottom: 0;
    }

    .paragraph--type--image img {
      margin-bottom: 0;
    }

    @include media-breakpoint-up("md") {
      display: block;
    }
  }

  &--type--pcb-carousel-item {
    width: 100%;
  }

  &--type--geolocation {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 0;

    .container & {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--type--image {
    margin-right: -15px;
    margin-left: -15px;

    .container & {
      margin-right: 0;
      margin-left: 0;
    }

    img {
      margin-bottom: 1em;
    }
  }

  &--type--title {
    .container & {
      padding-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }
  }

  &--type--subtitle {
    .container & {
      padding-bottom: 0;
    }
  }

  &--type--redacto-price-list {
    .list-group-item {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &--type--redacto-hero-image {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 0;

    .container & {
      margin-right: 0;
      margin-left: 0;
    }

    .hero-image-content {
      position: relative;
      padding: 15rem 15px 5rem;
      color: $white;

      .container & {
        padding-left: 5rem;
        padding-right: 5rem;
      }

      p:last-of-type {
        margin-bottom: 0;
      }

      .paragraphs-behavior-background--element {
        background: rgba($black, 0.5);
        width: fit-content;
        padding: 0.3rem 0.6rem;

        h1 {
          margin: 0;
        }

        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }

    .hero-image-background {
      img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--type--redacto-short-info {
    text-align: center;

    h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
