.js-form-type-search input.form-search {
  width: 110px;
  background: transparent;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.5);

  &::placeholder {
    color: #ccc;
  }
}

.search {
  &-block-form {
    margin-left: 1em;

    .form-type-search {
      margin-bottom: 0;
    }

    input.form-search {
      float: right;
      padding-right: 40px;
      padding-left: 12px;
    }

    form#search-block-form {
      float: right;
      width: auto;
    }

    .icon {
      right: 6px;
      left: auto !important;
    }
  }
}

#search-form {
  input.form-search {
    float: none;
  }

  .icon {
    top: 25px;
  }
}
