@import "init";

.block-simple-blockheader-social-icons {
  display: none;

  i.fa {
    color: rgba($black, 0.5);
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 6px;
    margin-top: 0.425em;
    margin-bottom: 0.425em;

    &:hover {
      color: rgba($black, 0.7);
    }
  }

  @include media-breakpoint-up("md") {
    display: block;
  }

  .page__footer__copyright & {
    margin-bottom: 0;
    display: block;

    i.fa {
      border: 1px solid rgba($black, 0.5);
    }
  }
}
