@import "init";

.shariff {
  ul {
    display: inline-flex !important;
    position: relative;
    min-width: initial !important;
    vertical-align: middle;
    width: auto;
    flex: inherit;
    max-width: inherit;

    &.orientation-horizontal {
      li {
        max-width: initial !important;

        &:first-child {
          margin-left: 0;

          &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }

        &:last-child:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .share_text {
          display: inline;
          text-indent: 0;
        }
      }
    }

    &.orientation-vertical {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .shariff-button {
        & + &,
        & + .shariff {
          margin-top: -$input-btn-border-width !important;
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }

        &:first-child:not(:last-child) {
          @include border-bottom-radius(0);
        }

        &:last-child:not(:first-child) {
          @include border-top-radius(0);
        }
      }

      .shariff-button {
        margin-top: -$input-btn-border-width !important;
        margin-left: -$input-btn-border-width !important;
      }
    }
  }

  &-button {
    display: inline-block;
    position: relative;
    flex: 0 1 auto;
    min-width: 110px !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;

    a {
      height: auto !important;
      padding: 0 15px 0 10px;
    }

    & + &,
    & + .shariff {
      margin-left: -$input-btn-border-width !important;
    }
  }

  & + &-button,
  & + & {
    margin-left: -$input-btn-border-width !important;
  }
}
