.paragraph.paragraphs-behavior-background {
  position: relative;
}

.paragraph.paragraphs-behavior-background > .paragraphs-behavior-background--element {
  position: relative;
  z-index: 20;
}

.paragraph.paragraphs-behavior-background > .paragraphs-behavior-background--image {
  position: absolute;
  top: 0;
  height: 100%;
  margin-right: 0;
  overflow: hidden;
  z-index: 10;
  opacity: 0.6;
}
